.banner-container {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.banner-image {
    width: 100%; 
}

.titulo {
    text-align: a; 
    margin-bottom: 10px; 
}
