.banner-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ajusta la altura del contenedor al 100% de la altura de la ventana del navegador */
    background-color: #ffffff;
}

.banner-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
}
